<%- include('./layout/layout')-%>
<body>
    <div class="box-container">
        <div class="products-container" >
            <div class="row">
                <div class="col-6">
                    <h2 class="product-title"><%-vista%></h2>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                         <a class="btn btn-primary" href=<%= `http://localhost:${port}/api/productos/nuevo-producto` %> >Cargar nuevo producto</a>
                    </div>
                </div>
            </div>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <tr> <th>Nombre</th> <th>Precio</th> <th>Foto</th></tr>
                        <% for(var i=0; i < data.parsedData.length; i++) { %>
                            <tr>
                              <td><%= data.parsedData[i].title %></td>
                              <td><%= data.parsedData[i].price %></td>
                              <td> <img  width="60" alt=<%= data.parsedData[i].title %> src=<%=data.parsedData[i].thumbnail %>> </td>
                            </tr>
                         <% } %>
                    </table>
                </div>
        </div>
    </div>
</body>
</html>